// green-50 background at the services sections

#stats::after {
  content: "";
  background-color: #f7f9f9;
  width: 100%;
  height: 1000px;

  position: absolute;
  top: 750px;
  right: 500;
  z-index: -1;
}
